.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Cutive Mono", monospace;
  height: 480px;
  width: 18%;
}

.image-div {
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
  height: 40%;
}

.product-image {
  width: 30%;
}

.product-title {
  text-wrap: wrap;
  text-align: center;
  overflow: hidden;
  margin-top: 4%;
  height: 20%;
}

.product-price {
  display: flex;
  justify-content: center;
  height: 20%;
}

.quantity-input-div {
  display: flex;
  justify-content: center;
  align-self: center;
  height: 10%;
}

.quantity::-webkit-inner-spin-button,
.quantity::-webkit-outer-spin-button {
  appearance: none;
  -moz-appearance: textfield;
}

.add-to-cart-button-div {
  height: 10%;
  width: 100%;
}

.add-to-cart-button,
.add-to-cart-button-disabled {
  color: rgb(255, 255, 255);
  font-size: 12px;
  border: none;
  border-radius: 4px;
  padding: 6px;
  width: 100%;
}
.add-to-cart-button {
  background-color: rgb(34, 34, 34);
}

.add-to-cart-button-disabled {
  background-color: rgb(220, 220, 220);
}

.add-to-cart-button:hover {
  background-color: rgb(161, 206, 203);
  color: black;
}

@media only screen and (max-width: 480px) {
  .card {
    width: 70%;
  }

  .product-title {
    height: 15%;
  }

  .product-price {
    height: 5%;
  }

  .add-to-cart-button-div {
    height: 7%;
  }
}
