ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.navigation {
  background-color: rgb(244, 244, 244);
}

.logo-div {
  padding: 10px 0 0 20px;
}

.logo-text {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 32px;
  color: rgb(79, 79, 79);
}

.home-text {
  font-family: "Cutive Mono", monospace;
  font-size: 20px;
  color: rgb(132, 132, 132);
}

.navigation-bar {
  display: flex;
  justify-content: center;
  padding: 1% 0;
  height: 15%;
}

.navigation-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  font-family: "Be Vietnam Pro", sans-serif;
  color: black;
  font-size: 18px;
  text-align: center;
  width: 20%;
}

.navigation-item:hover {
  color: rgb(188, 188, 188);
}

.navigation-link {
  width: 20%;
}

@media only screen and (max-width: 480px) {
  .navigation-bar {
    width: 100vw;
  }
}
