.shop-page {
  height: 200%;
}

.card-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.quantity-input {
  display: flex;
  flex-direction: row;
  margin: 6px 0;
}
