p {
  margin: 6px 0;
}

.shopping-cart {
  align-self: center;
  font-family: "Cutive Mono", monospace;
  background-color: rgba(233, 233, 233, 40%);
  border-radius: 6px;
  overflow-y: auto;
  height: fit-content;
  max-height: 60vh;
  width: 50vh;
  padding: 3%;
}

.shopping-cart-title {
  font-family: "Be Vietnam Pro", sans-serif;
}

.total-price-div {
  border-top: 1px solid black;
  text-align: left;
  font-weight: 700;
  margin: 20px 0;
}
.delete-all-button,
.checkout-button {
  border: none;
  border-radius: 4px;
  width: 100%;
  padding: 6px;
  margin: 4px 0;
}

.delete-all-button {
  background-color: black;
  color: rgb(255, 255, 255);
  font-size: 12px;
}

.delete-all-button:hover {
  background-color: rgb(230, 141, 117);
  color: black;
}

.checkout-button {
  background-color: rgb(220, 220, 220);
  color: rgb(255, 255, 255);
  font-size: 14px;
}

@media only screen and (max-width: 480px) {
  .shopping-cart {
    width: 80%;
    align-self: center;
  }
}
