.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Cutive Mono", monospace;
  height: 480px;
  width: 18%;
  /* gap: 2vh; */
}

.image-div {
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
  height: 40%;
}

.card-image {
  width: 30%;
}

.card-title {
  text-wrap: wrap;
  text-align: center;
  height: 20%;
}

.price-div {
  display: flex;
  justify-content: center;
  height: 20%;
}

.quantity-input-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  height: 10%;
}

.quantity {
  appearance: textfield;
  width: 20px;
  text-align: center;
}

.quantity::-webkit-inner-spin-button,
.quantity::-webkit-outer-spin-button {
  appearance: none;
}

.add-to-cart-button-div {
  height: 10%;
  width: 100%;
}

.add-to-cart-button {
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  font-size: 12px;
  padding: 6px;
  width: 100%;
}

.add-to-cart-button-disabled {
  background-color: rgb(220, 220, 220);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  font-size: 12px;
  padding: 6px;
  width: 100%;
}

.add-to-cart-button:hover {
  background-color: rgb(161, 206, 203);
  color: black;
}

.increase-button,
.decrease-button {
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  margin: 0 2px;
}

.increase-button:hover,
.decrease-button:hover {
  background-color: rgb(233, 230, 230);
}
