p {
  margin: 6px 0;
}

.shopping-cart {
  align-self: baseline;
  background-color: rgba(233, 233, 233, 40%);
  font-family: "Cutive Mono", monospace;
  padding: 2%;
  border-radius: 6px;
  width: 50vh;
  height: fit-content;
  max-height: 73vh;
  overflow-y: auto;
}

.shopping-cart-title {
  font-family: "Be Vietnam Pro", sans-serif;
}

.checkout-button {
  background-color: rgb(220, 220, 220);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  font-size: 14px;
  padding: 6px;
  margin: 4px 0;
  width: 100%;
}

.total-price-div {
  font-weight: 700;
  text-align: left;
  margin: 20px 0;
  padding-top: 10px;
  border-top: 1px solid black;
}

.delete-all-button {
  background-color: black;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  font-size: 12px;
  padding: 6px;
  margin: 4px 0;
  width: 100%;
}

.input-plus-button {
  display: flex;
  flex-direction: column;
}

.delete-all-button:hover {
  background-color: rgb(230, 141, 117);
  color: black;
}
